<!DOCTYPE html>
<html>
  <head>
    <title>Simple styled maps</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
<p id="notice"><%= notice %></p>
<h1>INDEX: Listing City Pages</h1>
<%= link_to 'New City page', new_city_page_path %>
<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Country</th>
      <th>Continent</th>
      <th>Article</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Twitter feed</th>
      <th>Book suggestion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @city_pages.each do |city_page| %>
      <tr>
        <td><%= city_page.city %></td>
        <td><%= city_page.country %></td>
        <td><%= city_page.continent %></td>
        <td><%= city_page.article %></td>
        <td><%= city_page.lat %></td>
        <td><%= city_page.lon %></td>
        <td><%= city_page.twitter_feed %></td>
        <td><%= city_page.book_suggestion %></td>
        <td><%= link_to 'Show', city_page %></td>
        <td><%= link_to 'Edit', edit_city_page_path(city_page) %></td>
        <td><%= link_to 'Destroy', city_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<footer class="row footer">
  <div class="coffee-span-10 footer-col">
    <h5 class="heading-2">About Us</h5>
    <h5 class="heading-1">Contact Us</h5>
    <div class="container footer_contact">

<a href="#" target="_blank" class="social-image social-icon-5"><%= image_tag "webicon-facebook.png", alt: "Social Icon", class: "facebook-icon" %></a>

<a href="#" target="_blank" class="social-image social-icon-4"><%= image_tag "webicon-twitter.png", alt: "Social Icon", class: "twitter-icon" %> </a>

<a href="#" target="_blank" class="social-image social-icon-3"><%= image_tag "webicon-googleplus.png", alt: "Social Icon", class: "googleplus-icon" %> </a>

<a href="#" target="_blank" class="social-image social-icon-2"> <%= image_tag "webicon-youtube.png", alt: "Social Icon", class:  "youtube-icon" %></a>

<a href="#" target="_blank" class="social-image social-icon-1"><%= image_tag "webicon-linkedin.png", alt: "Social Icon", class: "linkedin-icon"  %> </a>

    </div><a href="#backtotop" class="responsive-picture" title="Back To Top" id="backtotoparrow"><picture><img alt="Back To Top" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
      <%= image_tag "back-to-top-button.png" %>
    </picture></a>
  </div>
</footer>

  </body>
</html>
