<!DOCTYPE html>
<html>
  <head>
    <title>Simple styled maps</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
<p id="notice"><%= notice %></p>
<h1>INDEX: Listing City Pages</h1>
<%= link_to 'New City page', new_city_page_path %>
<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Country</th>
      <th>Continent</th>
      <th>Article</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Twitter feed</th>
      <th>Book suggestion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @city_pages.each do |city_page| %>
      <tr>
        <td><%= city_page.city %></td>
        <td><%= city_page.country %></td>
        <td><%= city_page.continent %></td>
        <td><%= city_page.article %></td>
        <td><%= city_page.lat %></td>
        <td><%= city_page.lon %></td>
        <td><%= city_page.twitter_feed %></td>
        <td><%= city_page.book_suggestion %></td>
        <td><%= link_to 'Show', city_page %></td>
        <td><%= link_to 'Edit', edit_city_page_path(city_page) %></td>
        <td><%= link_to 'Destroy', city_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </body>
</html>
