
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="EXPATik - A definitive resource of the world’s most desirable cities for expatriates">
  <meta name="keywords" content="Expat,Expatriate,Global Citizen,expatik,expat life">
  <meta name="generator" content="Responsive Site Designer 1.5.1350 - Beta Version">
  <title>EXPATik | The Global Citizen</title>
  <link rel="stylesheet" href="css/coffeegrinder.min.css">
  <link rel="stylesheet" href="css/wireframe-theme.min.css">
  <script>document.createElement( "picture" );</script>
  <script src="js/picturefill.min.js" class="picturefill" async="async"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed%7CRoboto:300,400,b">
<!-- SMOOTH SCROLL -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>
<!-- End of SMOOTH SCROLL -->
</head>

<body class="grid-1">
  <div class="row heading-row">
    <header class="coffee-span-10 welcome_text" id="backtotop">
      <div class="responsive-picture logo">
        <picture><%= image_tag 'Expatik_logo.png' %>
        </picture>
      </div>
      <h3 class="welcome-heading"><span class="heading-text-1">EXPAT<span class="heading-text-2">ik</span></span><br>
      </h3>
      <p class="paragraph welcome-paragraph"> <span class="paragraph-text-1">An in-depth resource for the top ranked cities for expats.<br>Based on an annual study of world cities, EXPATik is a definitive resource&nbsp;of the world’s most desirable cities for the global citizen.&nbsp;<br></span><br>
      </p>
      <a class="link-text text-link-1" href="#">Select A City »</a><a href="#description" class="link-button-glyph scroll-down"><span class="glyph-for-button scroll-down-icon"><i class="coffeecup-icons-arrow-down4"></i></span></a>
    </header>
  </div>
  <div class="row narrow-row portfolio-description" id="description">
    <div class="coffee-span-10">
      <h2 class="heading-3"><span class="heading-text-3">2016 Most desirable cities for expats</span></h2>





        <select onchange="window.location=this.value" class="select drop-down-1" name="Select City">
        <option value='#'>Select City</option>
        <option value='/city_pages/1'>Shanghai</option>
        <option value='/city_pages/2'>Singapore</option>
        <option value='/city_pages/3'>Cape Town</option>
        <option value='/city_pages/4'>Buenos Aires</option>
        <option value='/city_pages/5'>Prague</option>
        <option value='/city_pages/6'>Dubai</option>
        <option value='/city_pages/7'>Medellin</option>
        <option value='/city_pages/8'>Budapest</option>
        <option value='/city_pages/9'>Roatan</option>
        <option value='/city_pages/10'>Reykjavik</option>

      </select>


    </div>
    <div class="coffee-span-6 coffee-849-span-10">
      <p class="paragraph portfolio-description">Welcome to EXPATik, if you are moving overseas, setting abroad, a repatriate or just considering an expatriate adventure. EXPATik has ranked the best Ten Cities with career opportunities, affordable cost of living, accessible health care, beautiful weather, easy cultural adjustment, political stability and low security risk.</p>
      <p class="paragraph portfolio-description">Some of our favorites? Check out Bahia or Black Forest below. Plus the portfolio theme you’re currently browsing is pretty outstanding as well.</p>
    </div>
  </div>
  <!-- <div class="row narrow-row">
    <div class="coffee-span-4"><a href="#theme" class="responsive-picture toc-thumbnail"><picture><img alt="Visions" srcset="./CC_Theme/thumbnail-visions.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></picture></a><a class="link-button toc-link" href="#theme">Visions</a>
    </div>
    <div class="coffee-span-4"><a href="#theme2" class="responsive-picture toc-thumbnail"><picture><img alt="Flexbox Guide" srcset="./CC_Theme/thumbnail-flexbox.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></picture></a><a class="link-button toc-link" href="#theme2">FlexBox Guide</a>
    </div> -->
    <!-- <div class="coffee-span-4"><a href="#theme3" class="responsive-picture toc-thumbnail"><picture><img alt="Last Season" srcset="./CC_Theme/thumbnail-last-season.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></picture></a><a class="link-button toc-link" href="#theme3">Last Season</a> -->
    </div>
  </div>
  <footer class="row footer">
    <div class="coffee-span-10 footer-col">
      <h5 class="heading-2">About Us</h5>
      <h5 class="heading-1">Contact Us</h5>
      <div class="container footer_contact"><%= image_tag "webicon-facebook.png" %> <%= image_tag "webicon-twitter.png" %> <%= image_tag "webicon-googleplus.png" %> <%= image_tag "webicon-youtube.png" %> <%= image_tag "webicon-linkedin.png" %>
      </div><a href="#backtotop" class="responsive-picture" title="Back To Top" id="backtotoparrow"><picture>
        <%= image_tag "back-to-top-button.png" %></picture></a>
      <%= link_to 'Show/Index Page', city_pages_path %>
    </div>
  </footer>
<script>
if(navigator.userAgent.match(/Trident\/7\./)) {
  document.body.addEventListener("mousewheel", function() {
    event.preventDefault();
    var wd = event.wheelDelta;
    var csp = window.pageYOffset;
    window.scrollTo(0, csp - wd);
  });
}
</script>
</body>
>>>>>>> 2df3710bc196983f8012fd23103f7f790b83a25e

</html>
